@import '../../../../styles/colors';
@import '../../../../styles/media';

.FilterSuggestion {
  padding: 1rem 3rem;

  >.SuggestionSearchbar {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1rem;
    padding: 0 10px;
    color: $dark-grey;
    outline: none;
  }
  
  >.SuggestionContainer {
    width: 100%;
    padding: 1.5rem 0;
  
    >.SuggestionList {
      width: 100%;
      column-count: 3;
    
      >.SuggestionItem {
        height: fit-content;
        color: $dark-grey;
        margin-bottom: .8rem;
        cursor: pointer;
      }
    }
  }
}

