@import '../../styles/colors';

.Toolbar {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: $default-green;
  padding: 0 1rem;
  box-sizing: border-box;
  
  .Logo {
    display: flex;
    margin-right: auto;
    transition: all .3s;
  }

  .Searchbar {
    display: flex;
    align-items: center;
    width: 70%;
    height: 60%;
    margin-right: auto;
    transition: all .3s;
  }

  &.SearchbarFocus {
    padding: 0;

    .Logo {
      display: none;
    }

    .Searchbar {
      width: 100%;
      height: 100%;
    }
  }
}