@import '../../../styles/colors';
@import '../../../styles/media';

.PlantCatalog {
  height: 100vh;
  
  .Content {
    display: flex;
    flex-flow: row;
    max-width: 1200px;
    height: calc(100% - 4rem);
    margin: 0 auto;
    overflow: auto;
    padding: 40px 0;
    box-sizing: border-box;

    >.DataContainer {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;

      @include small-devices {
        width: calc(100% - 200px);
      }
    }

    .FiltersButton {
      margin-left: auto;
      width: 6rem;
      height: 2.5rem;
      background-color: $light-green;
      border: none;
      border-radius: 6px;
      font-size: .9rem;
      font-weight: bold;
      color: #fff;

      @include small-devices {
        display: none;
      }      
    }

    @include below-extra-large-devices {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      box-sizing: border-box;
    }
  }
}