@import '../../styles/colors';
@import '../../styles/media';

.Searchbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  height: 100%;
  
  input {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    color: $faded-text;
    font-size: 1rem;
    outline: none;

    @include extra-small-devices {
      &:focus + .SearchIcon {
        font-size: 1.3rem;
      }
    }

  }

  .SearchIcon {
    padding-left: .5rem;
    margin-left: .5rem;
    border-left: $dark-grey solid 1px;
    color: $dark-grey;
    cursor: pointer;
    font-size: 1rem;
  }
}