@import '../../../styles/colors';

.FixedItems {
  width: 100%;
  list-style-type: none;
  padding: 0;

  li {
    color: $dark-grey;
    margin-bottom: .4rem;
    cursor: pointer;

    &:hover {
      color: black;
    }

    &.SeeAllItem {
      color: #18439e;
    }
  }
}
