@import '../../styles/colors';

.Paginator {
  display: flex;
  flex-direction: row;

  >.PageList {
    display: flex;
    flex-direction: row;
    padding: 0 .5rem;

    >.Page {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      padding: .3rem;
      font-size: 1.1rem;
      border-radius: 3px;
      margin: 0 .2rem;

      &.Active {
        font-weight: bold;
        background-color: rgba(#000000, .1);
      }
    }
  }

  >.PaginatorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 7rem;

    >.Icon {
      font-size: .8rem;
      margin: 0 .5rem;
    }
  }

  .PaginatorItem {
    color: $dark-grey;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: rgba(#000000, .1);
      transition: background-color .3s;
    }
  }
}